


body {
  background-color: rgb(orange);
  margin:0;
  font-family: "EB Garamond"
}

header {
  background-color: orange;
  color:white;

}

header h1 {
  padding:30px
}


  nav {
    background-color:orange;
  }


  main {
    background-color: white;
    padding: 30px;
  }



  article {
    background-color: gold;
    width: 80%
    margin: 30px auto;
    border-radius: 10px;
    border: 5px solid green;
    font-family:
  }



  footer {
    background-color: green;
    color:white;
    padding:30px;
  }


/*navbar */
.navbar {
  list-style-type: none;
}

.navbar li {
  display: inline-block;
  padding:20px 10px 20px 0px;
}

.navbar a{
  color:purple;
  text-decoration: none;
}

.navbar a:hover {
  color:red;
}

/*article divs */

  .article_header {
    color:white;
    padding: 10px;
    text-align: center;
  }

  .article_content {
    background-color: white;
    padding: 10px;
    color:blue;
  }

  .article_footer {
    color:white;
    padding:10px;
  }

.article_image{
  width: 80%;
  margin:auto;
  margin-top: 10px;
  display:block;

}
.article_background {
  
  background-size:contain;
  background-position: center;
  background-repeat;
}



/* typography spans */

.bolden {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

#small_text{
    font-size: 10pt;
}
