*{margin:0;
}



body {
  background-color: rgb(100, 189, 213);
  margin:0;
  font-family: "EB Garamond"
}

header {
  background-color: rgb(254, 202, 254);
  color:white;

}

  Title{

  }

header h1 {
  padding:30px

}


  nav {
    background-color:rgb(177, 242, 254);
  }


  main {
    background-color: white;
    padding: 30px;
  }

  section{
    display:flex;
    justify-content: space-around;
    box-sizing: border-box;
  }

  article {
    background-color: rgb(177, 242, 254);
    width: 20%;
    margin: 30px 20px;
    border-radius: 10px;
    border: 5px solid blue;
    box-sizing: border-box;

  }



  footer {
    background-color: rgb(177, 242, 254);
    color:purple;
    padding:30px;
  }


/*navbar */
.navbar {
  list-style-type: none;
}

.navbar li {
  display: inline-block;
  padding:20px 10px 20px 0px;
}

.navbar a{
  color:purple;
  text-decoration: none;
}

.navbar a:hover {
  color:red;
}

/*article divs */

  .article_header {
    color:purple;
    padding: 10px;
    text-align: center;
  }

  .article_content {
    background-color: rgb(177, 242, 254);
    padding: 10px;
    color:blue;
  }

  .article_footer {
    color:white;
    padding:10px;

  }

.article_footer a{
  color:purple;
  text-decoration: none;
}

.article_image{
  width: 80%;
  margin:auto;
  margin-top: 10px;
  display:block;

}
.article_background {
  background-image: url('../assets/paint.jpg');
  background-position: center;
  background-size: cover;
}



/* typography spans */

.bolden {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

#small_text{
    font-size: 10pt;
}
